node_modules
coverage
src
__mocks__
integration-test
scripts
.vscode
.idea
.cursor
.env
.DS_Store
*.test.ts
*.test.js
*.spec.ts
*.spec.js
tsconfig.json
jest.config.js
rollup.config.js
eslint.config.mjs
.gitignore
