name: Rsk Swap SDK CI

on:
  push:
    branches: [ main ]
  pull_request:

permissions: read-all

jobs:
  validation:
    name: Code integrity validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '19.6.0'
      - name: NPM Login
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm config set //npm.pkg.github.com/:_authToken $GITHUB_TOKEN
      - name: Install dependencies
        run: npm ci && npm run build
      - name: Validate code format
        run: npm run lint:validation
      - name: Run unit tests
        run: npm run test
